<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/stylesheets/dash.css">
</head>
<body>

<h1>All Posts</h1>
<div class="navbar">
  <a href="/profile">My Profile</a>
  <a href="/logout">Logout</a>
</div>


<% posts.forEach(post => { %>
  <div class="post">
    <div class="meta">
      Posted by <strong><%= post.user.name %></strong> (@<%= post.user.username %>)
    </div>
    <div><%= post.content %></div>
    <div class="actions">
      <a href="/like/<%= post._id %>">
        ❤️ Like (<%= post.likes.length %>)
      </a>
      
      <% if (post.user._id.toString() === currentUserId.toString()) { %>
        | <a href="/delete/<%= post._id %>">Delete</a>
      <% } %>
       <% if (post.user._id.toString() === currentUserId.toString()) { %>
        | <a href="/edit/<%= post._id %>">Edit</a>
      <% } %>
    </div>
  </div>
<% }) %>

</body>
</html>
